@charset "UTF-8";
/* Variables */
/* Banner principal */
.carousel-caption {
  justify-content: center;
  margin-top: 100px;
}

.d-item {
  height: 600px;
  margin-bottom: 0px;
  align-content: center;
}
.d-itemhover {
  color: white;
}

.imagenbannerprincipal {
  min-height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* Acerca de mí */
.acercademi {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fotoperfil {
  width: 260px;
}
.fotoperfil:hover {
  animation: heartbeat 2s steps(2, end) both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* Cualidades */
.cualidades {
  background-image: url(../img/fondocualidades.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: chartreuse;
  min-width: 100%;
}

.cardcualidades {
  align-items: center;
  justify-content: center;
}

.bloquecualidades img {
  width: 100px;
  margin: 20px 30px 10px 30px;
}

/* Galería Home */
.imagentrabajoshome {
  min-height: 100%;
  object-fit: cover;
  height: 600px;
}

.infoadicional img {
  width: 120px;
}

.infoadicional img:hover {
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.bloqueCV {
  background-color: #444444;
  border-radius: 20px;
  margin-bottom: 30px;
}
.bloqueCV h5 {
  color: #abffab;
}
.bloqueCV p {
  color: white;
  font-weight: 200;
  font-size: smaller;
}
.bloqueCV:hover {
  background-color: #777777;
  animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes rotate-hor-center {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}
/* Mapa contacto */
.map-responsive {
  position: relative;
  height: 0;
}

.mapa-responsive iframe {
  min-width: 100%;
}

/* Variables */
/* Armados tipográficos */
.experiencias div {
  align-items: center;
  justify-content: center;
}

.experiencias h3 {
  background-color: #abffab;
  color: black;
  padding: 10px;
  border-radius: 40px;
  font-weight: 600;
  margin-top: 50px;
}
.experiencias h3:hover {
  background-color: black;
  color: chartreuse;
}

.bajada {
  font-style: italic;
  color: rgb(85, 170, 0);
  line-height: 1em;
}

.textodetalle {
  color: #929292;
  font-style: oblique;
}

.bodycv {
  background-image: url(../img/fondocv.jpg);
  background-repeat: repeat;
}

/* Variables */
/* Galería portfolio */
.galeriatrabajos .row {
  padding: 1em 3em 2em;
}

.galeriatrabajos img:hover {
  border: 2px solid chartreuse;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.galeriatrabajos img {
  width: 100%;
  height: 300px;
  margin: 20px;
  object-fit: cover;
}

.botoneratrabajos {
  margin: 30px 50px 0px 50px;
}

/* Variables */
/* Generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

html, body {
  min-height: 100%;
}

h2 {
  font-weight: 700;
}

.linkboton {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  background-color: #abffab;
  border: none;
  margin: 10px;
}
.linkboton:hover {
  background-color: #000000; /* Green */
  color: chartreuse;
}
.linkboton p {
  margin-top: 40px;
}

.linktexto a {
  text-decoration: none;
  border: none;
}
.linktexto a p {
  color: white;
}
.linktexto a p:hover {
  color: chartreuse;
}

a {
  text-decoration: none;
  color: white;
}

.row {
  margin-right: 0;
}

/* Botones */
button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  background-color: #abffab;
  border: none;
  margin: 10px;
}
button:hover {
  background-color: #000000; /* Green */
  color: chartreuse;
}
button p {
  margin-top: 40px;
}

/* Iconos */
.icono {
  width: 50px;
}

/* Nav Bar */
.navbar {
  background-color: black;
}
.navbar a {
  color: white;
  margin: 10px;
}
.navbar a:hover {
  color: chartreuse;
}

#navbarNav {
  color: white;
}

.navbar-toggler {
  margin-top: 0;
  border: none;
}

.logoleodelax {
  margin: 20px 30px 20px 30px;
}

/* Footer */
footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}

.logoleodelax2 {
  width: 120px;
  margin-bottom: 10px;
}

.row {
  padding: 3em 3em 2em;
  margin-right: 0;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
  margin-right: 0;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  min-height: 11em;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
ul li a:hover {
  color: chartreuse;
}

.about p {
  margin: 0;
}

input {
  font-size: 1em;
  padding: 1em;
  border-radius: 40px;
}

div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #000000;
}

.footer-menu {
  float: left;
  margin-top: 10px;
}
.footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}
/* Banners secundarios */
.bannersecundarios {
  position: relative;
  text-align: center;
  justify-content: center;
  border-radius: 0px;
}
.bannersecundarios h5 {
  margin-top: 60px;
}
.bannersecundarios img {
  height: 200px;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  float: none;
  border-radius: 0px;
}

/* Formulario contacto */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.container ul {
  list-style: none;
  padding: 0;
}

.titulocontacto {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: url(./img/videofondocontacto.gif);
  background: url(../img/videofondocontacto.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
  color: #abffab;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px solid white;
}

.contact-form form button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background-color: chartreuse;
  border: none;
  margin-bottom: 20px;
}

.contact-form form button:hover {
  background-color: #abffab;
  color: #000000;
}

/*# sourceMappingURL=estilos.css.map */
