.infoadicional img {
    width: 120px;
}
.bloqueCV {
    background-color: #444444;
    border-radius: 20px;
    margin-bottom: 30px;
    h5 {
        color: #abffab;
    }
    p {
        color: white;
        font-weight: 200;
        font-size:smaller
    }
}
