/* Variables */
$verde-fluo: chartreuse;
$verde-claro: #abffab;

/* Armados tipográficos */
.experiencias div{
align-items: center;
justify-content: center;
}
.experiencias h3 {
    background-color: #abffab;
    color: black;
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
    margin-top: 50px;
    &:hover {
        background-color: black;
        color: $verde-fluo;
    }
}
.bajada {
    font-style:italic;
    color: rgb(85, 170, 0);
    line-height: 1em;
}
.textodetalle {
    color: #929292;
    font-style: oblique;
}
.bodycv {
    background-image: url(../img/fondocv.jpg);
    background-repeat: repeat;
}
