/* Variables */
$verde-fluo: chartreuse;
$verde-claro: chartreuse;


/* Banner principal */
.carousel-caption {
    justify-content: center;
    margin-top: 100px;
}
.d-item {
    height: 600px;
    margin-bottom: 0px;
    align-content: center;
    &hover {
        color: white;
    }
}
.imagenbannerprincipal {
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}



/* Acerca de mí */
.acercademi {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.fotoperfil {
    width: 260px;
    &:hover {
    animation:heartbeat 2s steps(2,end) both
}
}
@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}


/* Cualidades */
.cualidades {
    background-image: url(../img/fondocualidades.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: $verde-fluo;
    min-width: 100%;
}
.cardcualidades {
    align-items: center;
    justify-content: center;
}
.bloquecualidades {
    img{
        width: 100px;
        margin: 20px 30px 10px 30px
    }
}



/* Galería Home */
.imagentrabajoshome {
    min-height: 100%;
    object-fit: cover;
    height: 600px;
}